/* chat component */
.messages-wrapper {
    padding: 30px;
    margin-bottom: 60px;
    background-color: #F6F7F8;
  }
  .chat-bubble {
    border-radius: 20px 20px 20px 0;
    padding: 15px;
    background-color: #edeeef;
    color: #071013;
    width: max-content;
    max-width: calc(100% - 50px);
    box-shadow: -4px 4px 4px 0px rgb(185 185 185);
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .chat-bubble.right {
    margin-left: auto;
    border-radius: 20px 20px 0 20px;
    background-color: #30BCED;
    box-shadow: -4px 4px 4px 0px rgb(185 185 185);
    color: #fff;
  }
  .chat-bubble.right .user-name {
    color: #fff;
  }
  .chat-bubble__left {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.7rem;
    color: #071013;
  }
  .user-message {
    word-break: break-all;
  }
  .message-time {
    display: block;
    text-align: right;
  }